html,
body {
  margin: 0;
  padding: 0;
  background-color: rgba(155, 231, 177, 0.939);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Main title background */
.main-header {
  background-color: rgba(155, 231, 177, 0.939);
  padding-bottom: 1vw;
}

/*Main title */
.title {
  text-align: center;
  margin: 0;
  font-size: 5vw;
  font-family: 'Cinzel Decorative', Serif;
  font-weight: normal;
  color: rgb(255, 168, 7);
  letter-spacing: 0.4vw;
  text-transform: uppercase;
  text-shadow: 
    0 0 20px rgba(188, 14, 246, 0.952),
    0 4px 8px rgba(255, 6, 6, 0.927),
    0 8px 30px rgba(0, 0, 0, 0.6);
}

/* Entire Card container */
#card-container {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  margin: 1vw;
  margin-bottom: 5vw;
  background-color: rgba(155, 231, 177, 0.939);
}

.card:nth-child(3) { position: absolute; top: -4vw;  left: 43%; }
.card:nth-child(2) { position: absolute; top: -3vw;     left: 25%; transform: rotate(-15deg); }
.card:nth-child(4) { position: absolute; top: -3vw;     left: 60%; transform: rotate(15deg); }
.card:nth-child(1) { position: absolute; top: 2vw;  left: 8%; transform: rotate(-25deg); }
.card:nth-child(5) { position: absolute; top: 2vw;  left: 80%; transform: rotate(25deg); }

.card {
  width: 15vw;
  border: none;
  background-color: transparent;
  position: relative;  /* needed for overlay */
}

.card-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 1vw;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 0.9vw;
  font-family: Verdana;
  text-shadow: none;
  z-index: 10;
  border-radius: 4px;
}

.card-content {
  padding: 1vw;
  font-family: "Verdana";
  font-size: 1vw;

  background-color: transparent;
}

.card-content h2 {
  text-align: center;
  height: 6vw;
  font-size: 1.2vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding-bottom: 1vw;
  color: #eb5809;
  text-shadow: 
    0 0 20px rgba(3, 1, 1, 0.952),
    0 4px 8px rgba(0, 0, 0, 0.927),
    0 8px 30px rgba(211, 0, 235, 0.6);
}

.card-content ul
{
  top: 50%;
  list-style: none;
  font-size: 1vw;
}

.card-content ul li:nth-child(1) 
{ color: #f2ff00;
  text-shadow: 
    0 0 20px rgb(11, 235, 97),
    0 4px 8px rgba(230, 185, 4, 0.927),
    0 8px 30px rgba(255, 0, 0, 0.6);}

.card-content ul li:nth-child(2) 
{ color: #097eeb;
  text-shadow: 
    0 0 20px rgba(255, 7, 7, 0.952),
    0 4px 8px rgba(120, 203, 4, 0.927),
    0 8px 30px rgba(211, 0, 235, 0.6);}

.card-content ul li:nth-child(3) 
{    color: rgb(7, 57, 255);
  text-shadow: 
    0 0 20px rgba(188, 14, 246, 0.952),
    0 4px 8px rgba(255, 0, 221, 0.927),
    0 8px 30px rgba(0, 0, 0, 0.6); }

.card-content ul li:nth-child(4) 
{    color: rgb(7, 57, 255);
  text-shadow: 
    0 0 20px rgba(188, 14, 246, 0.952),
    0 4px 8px rgba(255, 0, 221, 0.927),
    0 8px 30px rgba(0, 0, 0, 0.6); }


.card img {
 
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 22vw;
}

body > button,
body > select {
  position: fixed;
  bottom: 2vh;
  width:5vw;
  height:2vw;
  z-index: 99999;
}

body > button:first-of-type { left: 2vw; }
body > select { left: 50%; transform: translateX(-50%); }
body > button:last-of-type { right: 2vw; }

.hover-zone {
  position: fixed;
  top: 0;
  height: 100%;
  width: 5vw;
  z-index: 9999;
  background-color: rgba(148, 117, 117, 0.3);
  cursor: pointer;
}

.hover-zone.left  { left: 0; }
.hover-zone.right { right: 0; }